/build/
/out/
/cmake-build-*/

/Builds/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.ncb

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

*.dll
*.exe
*.vst3
*.lib
*.obj
*.pdb
*.idb
*.ilk